---
# utilities needed on baremetal systems

- name: baremetal
  gather_facts: false
  hosts: all
  tasks:
    - name: install packages
      become: true
      pacman:
        pkg:
          - dosfstools
          - smartmontools
