---
# install the btrfs file system

- name: btrfs
  gather_facts: false
  hosts: all
  tasks:
    - name: install packages
      become: true
      pacman:
        pkg:
          - btrfs-progs
          - snapper

    - name: start and enable snapper services
      become: true
      systemd:
        unit: "{{ item }}"
        state: started
        enabled: true
      loop:
        - snapper-timeline.timer
        - snapper-cleanup.timer

