# Managed by rolr

[Desktop Entry]
Name=Novalectra
Exec=tmux new -s vm 'sudo -v && tmux detach && $(sleep 1; looking-glass-client -F &> /dev/null) & sudo ~/repos/vfio-run/target/debug/vfio-run run work -c full -g passthrough -s'
Terminal=true
Type=Application
