# Managed by rolr

[Desktop Entry]
Name=Taurine Slim
Exec=sh -c 'sudo ~/repos/vfio-run/target/debug/vfio-run run game -sw'
Terminal=true
Type=Application
