Config {
	font = "Hack Nerd Font 9",
	additionalFonts = ["Hack Nerd Font 9"],
	borderColor = "black",
	border = NoBorder,
	bgColor = "#202020",
	fgColor = "#e8e6e3",
	alpha = 254,
	position = TopH 20,
	textOffset = -1,
	iconOffset = -1,
	lowerOnStart = True,
	pickBroadest = False,
	persistent = False,
	hideOnStart = False,
	iconRoot = ".",
	allDesktops = True,
	overrideRedirect = True,
	commands = [
		Run Com "echo" ["<fc=#666>|</fc>"] "sep" 0,
		Run XMonadLog,
		Run Date "%Y-%m-%d %H:%M:%S" "date" 10,
		Run Cpu ["-t", "<fc=#f0c674><fn=1>\xf85a</fn> <total>%</fc>"] 10,
		Run Memory ["-t", "<fc=#cc6666><fn=1>\xfb19</fn> <usedratio>%</fc>"] 10,
		Run DynNetwork ["-t", "<fc=#b5bd68><fn=1>\xfc2c</fn> <rx>kb <fn=1>\xfc35</fn> <tx>kb</fc>"] 10,
		Run DiskU [("/", "<fc=#7aa6da><fn=1>\xf7c9</fn> <free></fc>")] [] 60,
		Run Battery [
			"-t", "<acstatus>",
			"--Low", "15",
			"--low", "#ff5f00",
			"--",
			"-o", "<fc=#70c0b1><fn=1>\xf578</fn> <left>%</fc>", -- discharging
			"-O", "<fc=#b9ca4a><fn=1>\xf0e7</fn> <left>%</fc>", -- charging
			"-i", "<fc=#b9ca4a><fn=1>\xf0e7</fn></fc>" -- charged
		] 10
	],
	sepChar = "%",
	alignSep = "}{",
	template = " %XMonadLog% } %date% { %cpu% %sep% %memory% %sep% %dynnetwork% %sep% %disku% %sep% %battery% "
}
