/*
!/.gitignore

!/ahk
!/alacritty
!/box
!/cmder
!/Code
!/dunst
!/equalizer-apo
!/espanso
!/fcitx5
!/feh
!/git
!/gpg
!/gravel
!/Kvantum
!/MangoHud
!/OrcaSlicer
!/picom
!/rainmeter
!/rolr
!/vim
!/xinit
!/xmobar
!/xmodmap
!/xmonad
!/zsh

!/.env
!/desktop-default.png
!/dotfiles.code-workspace
!/libinput-gestures.conf
!/mimeapps.list
